@import '~style/helpers';
h1 {
	text-align: center;
}
.button {
	width: 90%;
	padding: 5% 0px;
	font-weight: 800;
	font-size:22px;
	color: rgba(25,25,25,1);
	text-align: center;
	background-color: rgba(255,255,255,0.7);
	border-top: 2px solid rgba(177,177,177,1);
	border-bottom: 2px solid rgba(177,177,177,1);
	position: fixed;
	bottom: 20px;
}
.start {
	// margin-top: 20px;
	opacity: 0.0001;
	transition: opacity 0.5s;
	&.active{
		opacity: 1 !important;
	}
}
.stop {
	// margin-top: -30px;
}
.container {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	background: #EEE;
}
.runItWrapper:after {
  content: "";
  display: table;
  clear: both;
}
.runButton {
	// margin-top: 10px;
	transition: background 0.5s;
	// clear: both;
	&:hover {
		background: #EFE;
	}
}
.typeImage {
	float:left;
	margin:2px;
	transition: background 0.4s;
	background: #efefef;
	border: 1px solid #ddd;
	overflow-y: hidden;
	box-sizing: content-box;
	width:104px;
	height:104px;
	.typeImageText {
		width:100%;
		font-weight: 700;
		border-top: 1px solid #ccc;
		padding:5px 0px;
		background-color: rgba(255,255,255,0.6);
		transition: margin 0.3s;
		text-align: center;
	}
	&.typeImageActive{
		background: #effeef !important;
		.typeImageText {
			margin-top:-34px;
		}
	}
	img {
		margin: 2px;
		width: 100px;
		height: 100px;
	}
}

.runInput {
	font-size: 46px;
  width: 200px;
  height: 200px;
  text-align: center;
}
.calcer {
	float: left;
	width: 25%;
	padding: 15px 0;
	background: #efefef;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 24px;
}
.calcerWrapper:after {
	content: "";
	display: table;
	clear: both;
}
.calcerValue {
	margin-top: 30px;
	width: 100%;
	background: #FFF;
	border: 1px solid #dFd;
	text-align: center;
	padding: 40px;
  font-size: 100px;
}
